<div class="container">
  <div class="row">
     <div class="col-centered">
      <%= image_tag("pokemon-logo.png",height: '500', width: '800') %>
      <h2>Welcome to Pokemon Game</h2>
     </div>

  </div>
</div>