#holder{
  min-height: 92.5vh;
  position:relative;
}


.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
.col-centered img{
  margin-right: 40px;
}

.content {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  }