<br>
<footer class="page-footer bg-secondary">
  <div class="container" style="height:50px; position: relative;">
    <center><span class="text-white content">Copyright &copy; Ivan 2018</span></center>
  </div>
</footer>